@import url('https://fonts.googleapis.com/css?family=Nunito:300,400&display=swap');

$white: rgb(247, 247, 247);
$black: rgb(29, 29, 29);
$grey: rgb(44, 44, 44);

html {
	overflow: -moz-scrollbars-none !important;
	max-width: 100%;
	overflow-x: hidden;
}

body {
	font-family: 'Nunito', sans-serif;
	background-color: $white;
	font-size: 16px;
	scrollbar-width: none !important;
}

body {
	-ms-overflow-style: none;
}


/*----------------------------NAV BAR-----------------------------*/

.navbar {
	width: 100%;
	text-align: center !important;
	display: table;
}

/*----------------------------------------------------------------*/

/*--------------------------LANDING PAGE--------------------------*/

.landing {
	text-align: center;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: $black;
}

.landing h1 {
	font-size: calc(60px + (220 - 60) * ((100vw - 300px) / (1600 - 300)));
	font-weight: 600;
	padding: 10rem 1rem 10rem 1rem;
}

.landing h1 > span {
	font-weight: 300;
}

.landing h2 {
	font-size: calc(25px + (45 - 25) * ((100vw - 300px) / (1600 - 300)));
	padding-top: 0.3rem;
}

.landing h2 > a {
	text-decoration: none;
	padding: 8px;
	transition: all 0.3s ease-in-out;
	color: $black;
}

@keyframes hover-v {
	0% {
		transform: scaleX(0);
		height: 5px;
	}
	45% {
		transform: scaleX(1.05);
		height: 5px;
	}
	55% {
		height: 5px;
	}
	100% {
		transform: scaleX(1.05);
		height: 3.8rem;
	}
}
@keyframes no-hover-v {
	0% {
		transform: scaleX(1.05);
		height: 3.8rem;
	}
	45% {
		height: 5px;
	}
	55% {
		transform: scaleX(1.05);
		height: 5px;
		opacity: 1;
	}

	100% {
		transform: scaleX(0);
		height: 5px;
		opacity: 0.02;
	}
}

/*----------------------------------------------------------------*/

/*----------------------------ABOUT US----------------------------*/

.about-CN {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: $white;
	color: $black;
}

.about-CN h3 {
	font-size: calc(30px + (100 - 30) * ((100vw - 300px) / (1600 - 300)));
	font-weight: 600;
	padding: 0rem 3rem 0rem 3rem;
	text-align: center;
}

.about-CN p {
	font-size: calc(26px + (68 - 26) * ((100vw - 300px) / (1600 - 300)));
	font-weight: 300;
	padding: 3rem 3rem 0rem 3rem;
}

/*----------------------------------------------------------------*/

/*---------------------------SERVICES---------------------------*/

.service {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: $white;
	color: $black;
}

.service h3 {
	text-align: center;
	font-size: calc(30px + (100 - 30) * ((100vw - 300px) / (1600 - 300)));
	font-weight: 600;
	padding: 3rem 3rem 0rem 3rem;
}

.service p {
  text-align: center;
  font-size: calc(30px + (100 - 30) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 300;
  padding: 3rem 3rem 0rem 3rem;
}

.item {
    background: #fff;
    text-align: center;
    padding: 30px 25px;
    -webkit-box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    border:5px solid rgba(0, 0, 0, 0.07);
    margin: 0 0 20px 20px;
}


/*----------------------------------------------------------------*/

/*---------------------------SPORTS---------------------------*/

.sports {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: $white;
	color: $black;
}

.sports h3 {
	text-align: center;
	font-size: calc(30px + (100 - 30) * ((100vw - 300px) / (1600 - 300)));
	font-weight: 600;
	padding: 3rem 3rem 0rem 3rem;
}

.sports p {
  text-align: center;
  font-size: calc(30px + (100 - 30) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 300;
  padding: 3rem 3rem 0rem 3rem;
}


/*----------------------------------------------------------------*/

/*---------------------------CONTACT---------------------------*/

.contact {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: $white;
	color: $black;
}

.contact h3 {
	text-align: center;
	font-size: calc(30px + (100 - 30) * ((100vw - 300px) / (1600 - 300)));
	font-weight: 600;
	padding: 3rem 3rem 0rem 3rem;
}

.contact p {
  text-align: center;
  font-size: calc(30px + (100 - 30) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 300;
  padding: 3rem 3rem 0rem 3rem;
}


/*------------------------------FOOTER----------------------------*/

.footer {
	text-align: center;
	background-color: $black;
	color: $white;
	line-height: 50px;
	height: 50px;
	text-align: center;
}

.footer-content {
	vertical-align: middle;
}

/*----------------------------------------------------------------*/

/*----------------------------SCROLL------------------------------*/

.MuiFab-secondary {
	background-color: blue !important;
	color: $white !important;
}

/*----------------------------------------------------------------*/
