@import url('https://fonts.googleapis.com/css?family=Nunito:300,400&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


html {
	overflow: -moz-scrollbars-none !important;
	max-width: 100%;
	overflow-x: hidden;
}

body {
  font-family: 'Nuånito', sans-serif;
  background-color:  white;
	font-size: 16px;
	scrollbar-width: none !important;
  margin:0px;
  overflow-x: hidden;
	-ms-overflow-style: none;
}
body p{
  line-height: 33px;
}


/*----------------------------NAV BAR-----------------------------



.navbar-default {
  margin: 0;
	width: 100%;
  background-color: black;
  padding: 1em;
	cursor: default;
  border-color: transparent;
}

.navbar-default ul li {
	display: inline-block;
	margin-left: 35px;
	line-height: 1.5;
	letter-spacing: 1px;
}

.navbar-default ul li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    color: white;
}

.navbar-default ul li a:hover,
.navbar-default ul li a:focus {
    outline: 0;
    color: #ff7516;
}

@media(min-width:768px) {
    .navbar-default {
        border: 0;
        font-size: 2em;
    }
    .navbar-left img{
      width: 100px;
      height: 100px;
      float:left;
    }

    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }

}

@media only screen and (max-width: 768px) {
  nav ul li {
  	width: 100%;
  	margin: 0;
    transition: all .5s;
  }

  .navbar-left img{
    width: 100px;
    display: inline-block;
    text-align: left;
    float: left;
    padding-left: 40px;
  }

  .hamburger{
    display: block;
  }

  .hamburger .active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger .active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger .active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: red;
}


/*----------------------------NAV BAR-----------------------------*/

.nav-default {
  margin: 0;
	width: 100%;
  background-color: #1A1A1A;
  padding: 1em;
  border-color: transparent;
  text-align: center;
  display: inline-block;
  position:fixed;
  top:0;
}

.nav-default ul li {
	display: inline-block;
	margin-left: 10px;
	line-height: 2.7;
	letter-spacing: 1px;
}

.nav-default ul li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
    font-size: 12px;
    text-decoration: none;
    color: white;
}
.nav-default ul li a:hover,
.nav-default ul li a:focus {
    outline: 0;
    color: #ff7516;
    transform: scale(1.1);
    transition: 0.3s;
}

.nav-default .nav-links a {
  display: inline-block;
  padding: 1rem 1.4rem 1rem 1rem;
  width: 100%;
  transition: background 0.3s ease;
}

.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

@media(min-width:768px) {
    .navbar-left img{
      width: 100px;
      height: 100px;
      float:left;
    }


}

@media only screen and (max-width: 768px) {
  nav ul li {
  	width: 100%;
  	margin: 0;
    transition: all .5s;
  }

  .nav-default {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

  }

  .navbar-left img{
    width: 100px;
    float: left;
    padding-left: 40px;
  }

  body{
    overflow-x: hidden;
  }

  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li{
    opacity: 0;
  }

  .burger{
    display: block;
    float: right;
    padding-right: 50px;
    padding-top: 20px;
  }

}

.overlay{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}


#main-menu {
  display: block;
  height: 100px;
  width: 100%;
  background: #3D0E61;
  margin: 0px;
  z-index: 9;
}

#main-menu ul {
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9;
}

#main-menu li {
  list-style-type: none;
  font-size: 2rem;
}

#main-menu a {
  outline: 0;

}

#main-menu a:hover {
  text-decoration: underline;

}

#hamburger-input{
  display: none;
}

#hamburger-menu {
  margin: 0;
  width: 100%;
  background-color: #1A1A1A;
  padding: 1em;
  border-color: transparent;


    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    display: none;
    border: none;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(
      to bottom,
      black, black 30%,
      white 30%, white 40%,
      black 40%, black 60%,
      white 60%, white 70%,
      black 70%, black 90%,
      white 90%, white 100%
    );
}

#hamburger-menu #sidebar-menu {
    visibilty: hidden;
    position: fixed;
    top: 0;
    right: -250px;
    width: 200px;
    height: 100%;
    background-color: #1A1A1A;
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
}

#hamburger-menu h3 {
  color: white;
  font-size: 2rem;
  padding-left: 2rem
}

#hamburger-menu ul {
  padding-right: 0px;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}

#hamburger-menu a {
  font-size: 1rem;
  text-decoration: none;
  color: white;
  transform: scale(1.1);
  transition: 0.3s;

}

#hamburger-menu a:hover {
  color: #ff7516;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    right: 0;
}
#hamburger-input:checked ~ .overlay{
   visibility: visible;
  opacity: 0.4;
}


@media screen and (max-width: 750px) {
  #main-menu {
    display: none;
  }
  #hamburger-menu {
    display: inline;
  }
}
#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    right: 0;
}
#hamburger-input:checked ~ .overlay{
   visibility: visible;
  opacity: 0.4;
}
.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    transform: translateX(0px);
  }
}

.toggle .bar1{
  transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .bar2{
  opacity: 0;
}
.toggle .bar3{
  transform: rotate(45deg) translate(-5px,-6px);

}

.icon-menu-bars{
display:none;
}
button.menu-toggle,
button.menu-toggle:hover, button.menu-toggle:visited, button.menu-toggle:active, button.menu-toggle:link{
background-color:transparent !important;
}

.pro-close svg{
display:none;
}



.burger.close span {
  transform: rotate(-45deg);
  top: 13px;
  width: 27px;
}
.burger.close span:before {
  top: 0px;
  transform: rotate(90deg);
  width: 27px;
}
.burger.close span:after {
  top: 0px;
  right:0;
  transform: rotate(90deg);
  opacity:0;
  width:0;
}

.nav-links.overlay{
  visibility: visible;
  opacity: 1;
  padding-top:100px;
  background:rgba(0,0,0,0.5);
}


/*----------------------------------------------------------------*/

/*--------------------------LANDING PAGE--------------------------*/

.landing {
	text-align: left;
	display: flex;
	flex-direction: column;
	min-height: 90vh;
  background-image: url('./images/CN-2.jpg');
  padding-top: 100px;
  color: black;
  margin-top: 80px;
  overflow:scroll;
}

@media(min-width:768px) {
  .landing p{
    font-size: 20px;
  	font-weight: 400;
    padding-left: 3rem;
    padding-right:6rem;
  }
  .info{
    width:55rem; /* or whatever width you want. */
   max-width:55rem; /* or whatever width you want. */
  }
  .landing{
    padding-top: 90px;

  }
}

@media only screen and (max-width: 768px) {
  .landing p{
    font-size: calc(10px + (50 - 35) * ((100vw - 300px) / (1600 - 300)));
  	font-weight: 400;
  	padding: 0rem 2rem 0rem 3rem;
  }
}

.landing h1 {
	font-size: calc(60px + (220 - 60) * ((100vw - 300px) / (1600 - 300)));
	font-weight: 600;
	padding: 10rem 1rem 10rem 1rem;
}

.landing h1 span {
	font-weight: 300;
}

.landing h2 {
	font-size: calc(40px + (90 - 40) * ((100vw - 300px) / (1600 - 300)));
  padding: 3rem 3rem 0rem 3rem;
}

.landing h2 a {
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	color: black;
}

@keyframes hover-v {
	0% {
		transform: scaleX(0);
		height: 5px;
	}
	45% {
		transform: scaleX(1.05);
		height: 5px;
	}
	55% {
		height: 5px;
	}
	100% {
		transform: scaleX(1.05);
		height: 3.8rem;
	}
}
@keyframes no-hover-v {
	0% {
		transform: scaleX(1.05);
		height: 3.8rem;
	}
	45% {
		height: 5px;
	}
	55% {
		transform: scaleX(1.05);
		height: 5px;
		opacity: 1;
	}

	100% {
		transform: scaleX(0);
		height: 5px;
		opacity: 0.02;
	}
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 50px;
  cursor: pointer;
}

.button1 {
  background-color: transparent;
  color: black;
  border: 2px solid black;
  border-radius: 5px;

 }

.button1:hover {
  background-color: #F0EFED;
  color: black;
}


/*----------------------------------------------------------------*/

/*----------------------------ABOUT US----------------------------*/


.about-CN {
	display: flex;
	flex-direction: column;
	min-height: 65vh;
	background-color: white;
	color: black;
  align-content: flex-start;
  text-align: left;
}

.about-CN h4 {
  font-size: calc(30px + (60 - 30) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 200;
  padding: 2rem 0rem 2rem 5rem;
  margin-bottom: 0;
}

.about-CN p {
	font-size: calc(10px + (60 - 40) * ((100vw - 300px) / (2000 - 300)));
	font-weight: 100;
	padding: 0rem 0rem 0rem 5rem;
  line-height: 33px;
}
.about-split{
  display:flex;
}
.about-image{
  height: 300px;
  width: 470px;
  padding: 0rem 0rem 0rem 2rem;
  padding-left: 3rem;
}
.sports-icon{
  height: 10px;
  width: 10px;
  padding: 0rem 0rem 0rem 2rem;
}

@media only screen and (max-width: 768px) {
  .about-split{
    display:block;
  }
  .about-split img{
    height: 50%;
    width: 50%;
    padding: 0rem 2rem 0rem 2rem;
  }
  .about-CN p {
  	padding: 0rem 0rem 0rem 3rem;
  }
}

.button2 {
  background-color: #1A1A1A;
  color: white;
  border: 2px solid #F0EFED;
  margin: 4px 50px;
  background-color: #000000;
  padding: 16px 32px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin:10px;
  width:300px;
  margin-left:50px;
 }

.button2:hover {
  background-color: #F0EFED;
  color: black;
  border-color: black;
}


/*----------------------------------------------------------------*/

/*---------------------------SERVICES---------------------------*/


.service {
  margin: 0;
  min-height: 100vh;
  background-color: white;
}
.container{
  min-height: 65vh;

}

.service h4 {
  text-align: left;
	font-size: calc(30px + (60 - 30) * ((100vw - 300px) / (1600 - 300)));
	font-weight: 200;
	padding: 4rem 0rem 3rem 4rem;
  resize:none;
  margin: auto;
}
.service h5 {
	text-align: center;
	font-size: calc(10px + (60 - 30) * ((100vw - 300px) / (1600 - 300)));
	font-weight: 400;
	padding: 0rem 3rem 0rem 3rem;
  resize:none;
}

.container p {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  padding: 0rem 1rem 1rem 1rem;
  resize:none;
}

.wwd-p{
  text-align: left;
  font-size: 20px;
  font-weight: 200;
  padding: 0rem 3rem 0rem 4rem;
  resize:none;
  margin: auto;
}

.item {
    text-align: center;
    border-radius: 0px;
    border:2.3px solid rgba(0, 0, 0, 0.04);
    background-color: transparent;
}

.item:hover{
    background: #F0EFED;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    -webkit-transition: all .5s ease 0;
    transition: all 0.5s ease 0s;
    -webkit-box-shadow:0 0px 25px rgba(0, 0, 0, 0.10);
    border-bottom: 5px solid #0198fa;
}

.man:hover{
  background: transparent;
  border-color: none;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: black;

}
.mark:hover{
  background: transparent;
  border-color: none;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: black;
}
.cons:hover{
  background: transparent;
  border-color: none;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: black;
}

.item:hover p h4 h5{
  color: transparent;
}


@media only screen and (max-width: 984px) {
  .item{
    position: relative;
    padding: 0rem 3rem 2rem 3rem;
    resize: both;
  }
  .container{
    padding: 1rem 3rem 2rem 3rem;
    margin: 50px 40px 20px 40px;
    position: relative;
    margin-bottom: 20px;
  }
  .item p{
    font-size:12px;
    line-height:26px;
    font-style: italic;
  }
  .service {
  	background-color: white;
  	color: black;
    align-content: center;
    resize:none;
  }

}

.list p{
  text-align: left;
  text-indent: 20px;
}
@media(min-width:984px) {
  .item{
    resize: none;
    margin: 50px 20px 0px 20px;
  }
  #container {
    display: flex;
    padding: 1rem 3rem 0rem 3rem;
    resize:none;
  }
  .item p{
      font-size:15px;
      line-height:26px;
      font-style: italic;
  }
  .item h4{
    text-align: center;
    font-size: calc(10px + (60 - 30) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 100;
    padding: 1rem 3rem 1rem 3rem;
    resize:none;
    margin-top: 0;
    margin-bottom: 0;
  }

  .item h5{
    text-align: center;
    font-size: calc(10px + (60 - 30) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 200;
    padding: 1rem 3rem 1rem 3rem;
    resize:none;
    margin-top: 0;
    margin-bottom: 0;
  }

}


/*----------------------------------------------------------------*/

/*----------------------------SPORTS------------------------------*/

.sports {
	display: flex;
	flex-direction: column;
	min-height: 70vh;
	background-color: #1A1A1A;
	color: white;
  padding-bottom: 60px;
  text-align: left;
}

.sports h4 {
	font-size: calc(30px + (60 - 30) * ((100vw - 300px) / (1600 - 300)));
	font-weight: 200;
	padding: 2rem 0rem 2rem 5rem;
  margin-bottom: 0;
}

.sports h5 {
	font-size: 20px;
	font-weight: 200;
  padding: 0rem 3rem 2em 5rem;
  margin:auto;
}

.sports p {
  font-size: calc(10px + (60 - 40) * ((100vw - 300px) / (2000 - 300)));
	font-weight: 100;
	padding: 0rem 0rem 0rem 3rem;
  margin-top:0;
  line-height: 3px;
}

.sports-split{
  display:flex;
  resize: none;
}

.whatwedo-list p{
  padding-top: 0;
  margin-left: 0;
  text-align: left;
  padding: 0rem 0rem 0rem 0rem;

}

.sports-split .sports-img{
  height: 500px;
  width: 460px;
  padding: 0rem 2rem 0rem 5rem;
  margin:0;
}

@media only screen and (max-width: 768px) {
  .sports-split{
    display:block;
    text-align: left;
  }
  .sports-split .sports-img{
    height: 500px;
    width: 460px;
    padding: 2rem 2rem 2rem 5rem;
    align-items: center;
  }
  .about-CN p {
  	padding: 0rem 0rem 0rem 3rem;
  }
  .sports p{
    text-align: left;
  }
  .whatwedo-list{
    padding: 2rem 2rem 0rem 3rem;

  }
}

/*----------------------------------------------------------------*/

/*-----------------------------Main: Section5----------------------------*/

.main-section5{
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  background-color: #1A1A1A;
  color: white;
  padding-bottom: 40px;
  text-align: left;
}


.main-section5 h4{
  font-size: calc(30px + (60 - 30) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 200;
  padding: 2rem 0rem 2rem 5rem;
  margin-bottom: 0;
}

.main-section5 h5{
  font-size: 20px;
  font-weight: 200;
  padding: 0rem 2rem 2em 0rem;
  margin:auto;
}
.div-map{
  display: flex;
  padding: 4rem 4rem 4rem 3rem;

}


/*----------------------------------------------------------------*/

/*-----------------------------CONTACT----------------------------*/

.contact {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: white;
	color: black;
}

.contact h4 {
  font-size: calc(20px + (60 - 40) * ((100vw - 300px) / (1600 - 300)));
	font-weight: 600;
	padding: 0rem 3rem 0rem 3rem;
	text-align: left;
}

.contact p {
  font-size: calc(10px + (60 - 40) * ((100vw - 300px) / (2000 - 300)));
	font-weight: 100;
	padding: 0rem 0rem 0rem 3rem;
}


.contact-butt {
  background-color: #1A1A1A;
  color: white;
  border: 2px solid #F0EFED;
  margin: 4px 50px;
  background-color: #000000;
  padding: 16px 32px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 5px;
  margin:10px;
  width:300px;
  margin-left:50px;
 }

.contact-butt:hover {
  background-color: #F0EFED;
  color: black;
  border-color: black;
}


/*------------------------------FOOTER----------------------------*/

.footer {
	text-align: center;
	background-color: #1A1A1A;
	color: white;
	line-height: 70px;
	height: 70px;
	text-align: center;
}

.footer-content {
	vertical-align: middle;
}

/*----------------------------------------------------------------*/

/*----------------------------SCROLL------------------------------*/

.MuiFab-secondary {
	background-color: blue !important;
	color: white !important;
}

/*----------------------------------------------------------------*/


/*----------------------------ABOUT PAGE CSS------------------------------*/

.aboutpage-CN {
	display: flex;
	flex-direction: column;
	background-color: white;
	color: black;
  resize: none;
  padding-top: 80px;
}
.header-image{
  text-align: left;
	display: flex;
	flex-direction: column;
	color: black;
  overflow:scroll;
}
.abt-back{
  padding: 2rem 0rem 6rem 0rem;
}

.aboutpage-CN h4 {
	font-size: 40px;
	font-weight: 300;
	padding: 0rem 3rem 0rem 3rem;
	text-align: center;
}

.aboutpage-CN p {
	font-size: 20px;
	font-weight: 100;
	padding: 0rem 7rem 0rem 7rem;
  line-height: 33px;
}

.aboutpage-split{
  display:flex;
  font-size: 30px;
	font-weight: 600;
	padding: 5rem 2rem 5rem 10rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}
.aboutpage-text{
  padding: 0rem 2rem 0rem 1.5rem;
  text-align: left;
  margin-top: 0;
}

.aboutpage-text h4 {
	font-size: 30px;
  height: 10px;
  text-align: left;
  margin-top: 0;
  padding: 0rem 0rem 0rem 2.5rem;
}

.aboutpage-text p {
  font-size: 17px;
  width: 400px;
  resize: none;
  padding: 0rem 0rem 0rem 2.5rem;
  margin-top: 0;
  text-align: left;

}
.abt-back2{
  /* CSS gradients */
  background-image:
      linear-gradient(to bottom, rgba(245, 246, 252, 0.12), rgba(20, 20, 20, 1)),
      url('./images/CN-24.jpg');
   /*
  /*background-color: #1A1A1A;*/
  color: white;
  padding: 0rem 2rem 5rem 2rem;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  text-align: center;
  margin:auto;
}
.abt-back2 h4{
  padding: 3rem 0rem 0rem 0rem;

}
.abt-p{
  display: flex;
  resize: none;
}
.abt-p h5{
  padding: 1rem 3rem 0rem 3rem;
  font-size: 20px;
  text-align: center;
}

.abt-p p{
  padding: 1rem 3rem 1rem 3rem;
  font-size: 20px;
  text-align: center;
}
.header-image{
  	text-align: left;
  	display: flex;
  	flex-direction: column;
  	min-height: 90vh;
  	color: black;
    background-image: url('./images/CN-21.jpg');
    overflow:scroll;
}

#about-img{
  height: 400px;
  width: 400px;
  resize: none;
}
@media only screen and (max-width: 768px) {

  .aboutpage-split{
    display:block;
    align-items: center;
    padding-left: 20px;
  }
  .aboutpage-split img{
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .aboutpage-text{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .abt-back p {
  	padding: 1rem 3rem 0rem 3rem;
    font-size: 18px;
  }

  .aboutpage-CN h4 {
    text-align: center;
    padding: 3rem 3rem 0rem 3rem;
  }
  .abt-back2 p{
    padding: 1rem 0rem 0rem 0rem;
    font-size: 18px;
  }
  .aboutpage-text p{
    padding: 1rem 0rem 0rem 0rem;
    font-size: 18px;
  }
  .abt-p{
    display:inline;
    resize: none;
    text-align: center;
  }
  .abt-back2{
  	padding: 0rem 3rem 4rem 3rem;
  }
}



/*----------------------------CLIENT PAGE CSS------------------------------*/



.Client {
	display: flex;
	flex-direction: column;
	min-height: 60vh;
	background-color: white;
	color: black;
  align-content: flex-start;
}

.Client h4 {
	font-size: calc(20px + (60 - 40) * ((100vw - 300px) / (1600 - 300)));
	font-weight: 600;
	padding: 0rem 3rem 0rem 3rem;
	text-align: left;
}

.Client p {
	font-size: calc(10px + (60 - 40) * ((100vw - 300px) / (2000 - 300)));
	font-weight: 100;
	padding: 0rem 3rem 0rem 3rem;
}

.list-view {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255,255,255,1);
    z-index: 1;
}


/*----------------------------CLIENT PAGE CSS------------------------------*/

.Service-CN {
	display: flex;
	flex-direction: column;
  align-content: flex-start;
}

.service-split-img{
  height: 500px;
  width: 460px;
  padding: 0rem 2rem 0rem 5rem;
  margin:0;
}

.servicepage-header{
  background-color: #1A1A1A;
  height: 310px;
  width: auto;
}

.servicepage-header h3{
  color: white;
	font-weight: 300;
	padding: 0rem 3rem 5rem 3rem;
	text-align: center;
}


.service-split{
  display:flex;
  color: black;
  resize: none;
}

.service-split .img{
  height: 400px;
  width: 600px;
}

.servicepage-img2{
    height: 800px;
    width: 560px;
    margin-left: auto;
    margin-top:0;
    display:block;
    height:auto;
    padding-top: 10px;
}

.white {
  padding-top: 13rem;
  width: 100%;
}

.Service-CN h4 {
	font-size: calc(30px + (60 - 40) * ((100vw - 300px) / (1600 - 300)));
	font-weight: 300;
  background-color: white;
	padding: 4rem 5rem 1rem 5rem;
	text-align: left;
  color:black;
  margin-bottom: 0;
}

.Service-CN p {
	font-size: calc(8px + (60 - 40) * ((100vw - 300px) / (2000 - 300)));
	font-weight: 80;
	padding: 1rem 10rem 6rem 5rem;
  font-style: italic;
}

* {
  box-sizing: border-box;
}
/*Create two equal columns that floats next to each other
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}
.btn:hover {
  background-color: #ddd;
}
.btn.active {
  background-color: #666;
  color: white;
}

.section1-CN {
	display: flex;
	flex-direction: column;
	min-height: 50vh;
	background-color: white;
	color: black;
  align-content: flex-start;
  padding: 15rem 3rem 5rem 3rem;
}

.section1-CN h4 {
	font-size: calc(30px + (60 - 40) * ((100vw - 300px) / (1600 - 300)));
	font-weight: 400;
	padding: 0rem 3rem 0rem 3rem;
	text-align: left;
}

.section1-CN p {
	font-size: calc(10px + (60 - 40) * ((100vw - 300px) / (2000 - 300)));
	font-weight: 100;
	padding: 4rem 5rem 0rem 5rem;
}

.section1-CN h4 {
	font-size: calc(30px + (60 - 40) * ((100vw - 300px) / (1600 - 300)));
	font-weight: 300;
  background-color: white;
  color: black;
	padding: 5rem 3rem 1rem 1rem;
	text-align: center;
  color:black;
}

.section2-CN {
	display: flex;
  padding-bottom: 25rem;
	flex-direction: column;
  background-color: #F2F2F2;
  color: black;
  align-content: flex-start;
  margin-top: 0;
  padding-right: 50%;
}
.service-split2{
  display:flex;
  color: black;
}

.section2-CN h4 {
  font-size: calc(30px + (60 - 40) * ((100vw - 300px) / (1600 - 300)));
	font-weight: 300;
  color: black;
  padding: 4rem 5rem 1rem 5rem;
  text-align: left;
  color:black;
  margin-bottom: 0;
}
.section2-CN p {
  font-size: calc(10px + (60 - 40) * ((100vw - 300px) / (2000 - 300)));
	font-weight: 100;
	padding: 0rem 5rem 3rem 5rem;
}
.servicepage-img3{
  height: 300px;
  width: 560px;
  margin-right: 0;
  display:block;
  height:auto;
  padding-top: 10px;
}
.section3-CN {
	display: flex;
	flex-direction: column;
	min-height: 60vh;
	background-color: white;
	color: black;
  align-content: flex-start;
}
.service-split3{
  display:flex;
  color: black;
}
.service-split3 .img3{
  height: 420px;
  width: 660px;
}

.section3-CN h4 {
	font-size: calc(30px + (60 - 40) * ((100vw - 300px) / (1600 - 300)));
	font-weight: 300;
  background-color: white;
  color: black;
  padding: 4rem 5rem 1rem 5rem;
  text-align: left;
  color:black;
  margin-bottom: 0;
}

.inside-split3 p{
  font-size: calc(10px + (60 - 40) * ((100vw - 300px) / (2000 - 300)));
  font-weight: 100;
	padding: 0rem 5rem 3rem 5rem;
}

@media only screen and (max-width: 768px) {
  .service-split{
    display:block;
  }
  .service-split h4{
    height: 50%;
    width: 50%;
    padding: 0rem 2rem 0rem 2rem;
  }
  .service-split img{
    height: 50%;
    width: 50%;
    padding: 0rem 2rem 0rem 2rem;
  }
  .service-split2{
    padding: 24rem 0rem 0rem 0rem;
    margin-right: 0;
  }
  .service-split2 p{
    padding: 0rem 0rem 0rem 4rem;
  }
  .servicepage-img2{
    margin-left: 0;
    height: 50%;
    width: 50%;
  }
}
/*----------------------------FAQ PAGE CSS------------------------------*/

.FAQ-CN {
	display: flex;
	flex-direction: column;
	min-height: 60vh;
	background-color: white;
	color: black;
  align-content: flex-start;
}

.FAQ-CN h3 {
	font-size: calc(20px + (60 - 40) * ((100vw - 300px) / (1600 - 300)));
	font-weight: 600;
	padding: 0rem 3rem 0rem 3rem;
	text-align: left;
}

.FAQ-CN h4 {
	font-size: calc(10px + (60 - 40) * ((100vw - 300px) / (1600 - 300)));
	font-weight: 600;
	padding: 0rem 3rem 0rem 3rem;
	text-align: left;
}

.FAQ-CN p {
	font-size: calc(10px + (60 - 40) * ((100vw - 300px) / (2000 - 300)));
	font-weight: 100;
	padding: 0rem 3rem 0rem 3rem;
}



/*----------------------------FAQ PAGE CSS------------------------------*/


.contactpage-CN {
	display: flex;
	flex-direction: column;
	min-height: 60vh;
	background-color: white;
	color: black;
  align-content: flex-start;
}

.contactpage-CN h3 {
	font-size: calc(20px + (60 - 40) * ((100vw - 300px) / (1600 - 300)));
	font-weight: 600;
	padding: 0rem 3rem 0rem 3rem;
	text-align: left;
}

.contactpage-CN h4 {
	font-size: calc(20px + (60 - 40) * ((100vw - 300px) / (1600 - 300)));
	font-weight: 600;
	padding: 0rem 3rem 0rem 3rem;
	text-align: left;
}

.contactpage-CN p {
	font-size: calc(10px + (60 - 40) * ((100vw - 300px) / (2000 - 300)));
	font-weight: 100;
	padding: 0rem 3rem 0rem 3rem;
}

.contactpage-CN fieldset{
  padding: 3rem 3rem 3rem 3rem;

}

#contact-box{
  padding: 0rem 25rem 3rem 3rem;

}

.contactpage-CN label{
  padding: 0rem 4rem 0rem 0rem;

}

.text-line {
    background-color: transparent;
    color: black;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid black 1px;
    padding: 2rem 7rem 0rem 0rem;
    font-size: 20px;
}

.text-line:hover {
  border-left: black;
  border-right: black;
}

.contact-box{
  color: black;
  display: flex;
}

.contact-left{
  flex-basis: 50%;
  padding: 40px 60px;
  border: black;
  background: white;
  border: 2px solid black;
}

.contact-right{
  flex-basis: 40%;
  background: black;
  color: black;
  border: 2px solid black;
}
.input-group .top{
  color: white;
}

.input-group .bottom{
  color:white;
  font-size: 15px;
}
.input-row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.input-row .input-group{
  flex-basis: 45%;
  padding-right: 20px;
}

.input{
  width: 100%;
}
.input-group img{
  width: 300px;
  padding: 0rem 1rem 0rem 1rem;
}

.button-about {
  border: none;
  color: white;
  background-color: #1A1A1A;
  padding: 16px 40px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button3 {
  color: white;
  border: 2px solid #F0EFED;

 }

.button3:hover {
  background-color: #F0EFED;
  color: black;
}

.form-control {
  border: solid black 1px;
  width: 100%;
  max-width: 100%;
  height: 3em;
  font-size: 16px;
  padding: 1em;
  margin: 0.5em 0 1em 0;
}

textarea {
  min-height: 10em;
}

.text-label-message:after{
  display: block;
    content: " ";
    padding-bottom: 2px;

}



/*-----------test-------------*/

.faq-content {
  margin: 0;
  padding-left: 3em;
  color: black;

}

.faq-question {
  padding: 20px 0;
  border-bottom: 1px dotted #ccc;
  color: black;
}

.panel-title {
  font-size: 21px;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 10px 10px 0 68px;
  display: block;
  cursor: pointer;
  color: black;
}

.panel-content {
  font-size: 20px;
  padding: 0px 14px;
  margin: 0 20px;
  height: 0;
  color: black;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}

.panel-content-test {
  color:red;
}

.panel:checked ~ .panel-content{
  height: auto;
  opacity: 1;
  padding: 14px;
  color: black;
}

.plus {
  position: absolute;
  margin-left: 20px;
  margin-top: 4px;
  z-index: 5;
  font-size: 42px;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

.panel:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.panel {
  display: none;
}
